<div class="row">
  <div class="col s4">
    <h3><%= t "basic_info" %></h3>
    <div class="row">
      <div class="col s6">
        <div class="avatar">
          <%= show_avatar @user %>
        </div>
      </div>
      <div class="col s12">
        <h5><%= @user.fullname %></h5>
      </div>
    </div>
    <% if logged_in? %>
      <% if current_user? @user %>
        <div class="row">
          <div class="col s12">
            <%= link_to t("edit_profile"), edit_user_path(current_user),
              class: "btn waves-effect waves-light" %>
          </div>
        </div>
          <div class="row">
            <div class="col s12">
              <%= link_to t("change_password"), edit_password_path(id: current_user.id),
                class: "btn waves-effect waves-light" %>
            </div>
          </div>
      <% else %>
        <div class="row">
          <div class="col s12" id="follow-form-<%= @user.id %>">
            <% if current_user.is_following? @user %>
              <%= render "unfollow", user: @user %>
            <% else %>
              <%= render "follow", user: @user %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col s8">
    <div class="row">
      <div class="col s12">
        <div class="login">
          <header>
            <h3>
              <%= t "activities" %>
            </h3>
          </header>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render @activities %>
      <%= will_paginate @activities %>
    </div>
  </div>
</div>
