<div class="container-fluid">
  <div class="row">
    <div class="col s4 push-s4">
      <div class="login">
        <header><%= t "new_category" %></header>

        <%= form_for [:admin, @category] do |f| %>
          <%= render "shared/error_notice", object: @category %>

          <div class="input-field col s12">
            <%= f.text_field :title, class: "input-field", required: true %>
            <%= f.label :title, t("category_title") %>
          </div>

          <div class="input-field col s12">
            <%= f.text_area :description, class: "materialize-textarea", required: true %>
            <%= f.label :title, t("category_description") %>
          </div>

          <%= f.submit t("create"), class: "btn waves-effect waves-light" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
