<!DOCTYPE html>
<html>
<head>
  <title><%= t "base_app" %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": true %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/header" %>
<% flash.each do |notice_type, notice| %>
  <div class="card-panel card-<%= notice_type %>"><%= notice %></div>
<% end %>
<%= yield %>
</body>
</html>
